rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
   
    match /users/{docId} {
  allow read, write: if !exists(/databases/$(database)/documents/users/$(docId))
    // dayフィールドがなければ書き込みを許可する
      allow create, update: if !('day' in request.resource.data);
      // dayフィールドがあれば書き込みを拒否する
      allow create, update: if !('day' in request.resource.data) || request.resource.data.day == resource.data.day;
      // その他のフィールドについては書き込みを許可する
      allow create, update: if request.resource.data.diff(resource.data).affectedKeys().hasOnly(['email', 'name', 'displayName', 'photoURL']);
}

 
    match /keiei/{document=**} {
      allow read, write: if request.auth.token.email.matches('.*@ous[.]jp');
            allow read;
    }
   match /kiban/{document=**} {
      allow read, write: if request.auth.token.email.matches('.*@ous[.]jp');
      allow read;
    }
    match /kougakubu/{document=**} {
      allow read, write: if request.auth.token.email.matches('.*@ous[.]jp');
            allow read;
    }
    match /kyouiku/{document=**} {
      allow read, write: if request.auth.token.email.matches('.*@ous[.]jp');
            allow read;
    }
    match /kyousyoku/{document=**} {
      allow read, write: if request.auth.token.email.matches('.*@ous[.]jp');
      allow read;
    }
    match /rigaku/{document=**} {
      allow read, write: if request.auth.token.email.matches('.*@ous[.]jp');
      allow read;
    }
    match /seibutu/{document=**} {
      allow read, write: if request.auth.token.email.matches('.*@ous[.]jp');
            allow read;
    }
    match /seimei/{document=**} {
      allow read, write: if request.auth.token.email.matches('.*@ous[.]jp');
            allow read;
    }
    match /zyouhou/{document=**} {
      allow read, write: if request.auth.token.email.matches('.*@ous[.]jp');
            allow read;
    }
    match /zyuui/{document=**} {
      allow read, write: if request.auth.token.email.matches('.*@ous[.]jp');
            allow read;
    }
    match /users/{document=**} {
      allow read,write;
    } match /config/{document=**} {
      allow read;
    }match /test_collection1/{document=**} {
      allow read, write: if true;
    }
    match /dev_info/{document=**} {
      allow read,write;
    }

     
  }
}