rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // ルールを定義する
    match /{document=**} {
      // 全てのコレクションで読み込みは許可
      allow read: if true;
    }

    // コレクション「users」、「config」、「dev_info」の書き込みを許可
    match /users/{document=**} {
      allow write: if true;
    }
    match /config/{document=**} {
      allow write: if true;
    }
    match /dev_info/{document=**} {
      allow write: if true;
    }

    // その他のコレクションはドメインが「@ous.jp」の場合のみ書き込みを許可
    match /{collection}/{document=**} {
      allow write: if request.auth.token.email.matches(".*@ous.jp$");
    }
  }
}
