<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1882636743563952~4811722446"/> <!-- ここに正しいAdMobアプリケーションIDを入力 -->
    </application>
</manifest>