<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550367521697-bi8fc20atnpnvmtsrrna49tjmed3h83i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550367521697-bi8fc20atnpnvmtsrrna49tjmed3h83i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>550367521697-qlldjhnsd417hecjh7s7rff5q1ukk0dh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCzpNrYyg5yDqkTobE4PBYjc1s3kAgBaw0</string>
	<key>GCM_SENDER_ID</key>
	<string>550367521697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ous.unoffical.app</string>
	<key>PROJECT_ID</key>
	<string>ous-unoffical-20d2c</string>
	<key>STORAGE_BUCKET</key>
	<string>ous-unoffical-20d2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550367521697:ios:dee6af6b9a1392aba539e0</string>
</dict>
</plist>